@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Tektur:wght@500&display=swap');

:root{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  /* Color Palette */
  --green1: #01631ab7;
  --green2: #c4c0c0d4;
  --white: #ffffff;
}

body{
  background-color: var(--white);
  color: var(--green1);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: var(--white);
  overflow: scroll;
}

body::-webkit-scrollbar-thumb{
  background: var(--green1);
}

.nav-label{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  float: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.nav-label a{
  color: var(--green1);
  letter-spacing: 1px;
  text-decoration: none;
}

.navbar{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  float: right;
}

.navbar * {
  box-sizing: border-box;
}

.navbar li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}

.navbar a {
  padding: 0.5em 0;
  color: var(--green1);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}

.navbar a:before,
.navbar a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.navbar a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color:var(--green1);
}

.navbar a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color:var(--green1);
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}

.navbar a:hover:before,
.navbar .current a:before {
  opacity: 1;
  width: 100%;
}

.navbar a:hover:after,
.navbar .current a:after {
  max-width: 100%;
}

.container{
  display: grid;
  position: absolute;
  top: 5rem;
  bottom: 6rem;
  left: 1rem;
  width: 90%;
  padding: 2rem;
  grid-template-columns: 5fr 2fr 2fr 4fr;
  grid-template-rows: 20px 4fr auto 2fr 2fr 20px;
  justify-content: center;
  align-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

.background-box1{
  background-color:var(--green1);  
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.5); 
  z-index: -3;
  grid-area: 1/1/7/4;
}

.background-box2{
  background-color:var(--white);
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.1);
  z-index: -2;
  grid-area: 2/2/6/5;
}

.strip{
  z-index: -1;
  grid-area: 5/2/6/4;
}

.headshot-img{
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  padding-top: 0.5rem;
}

.icons{
  height: 25px;
  width: 25px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.headshot{
  grid-area: 2/2/3/4;
  justify-self: center;
  align-self:center;
}

.name{
  grid-area: 3/2/4/4;
  justify-self: center;
}

.it{
  text-transform: uppercase;
  grid-area: 4/2/5/4;
  justify-self: center;
  align-self: center;
}

.linkedin-icon{
  grid-area: 5/2/6/3;
  justify-self:end;
  align-self: center;
}

.github-icon{
  grid-area: 5/3/6/4;
  justify-self: start;
  align-self: center;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: var(--green1);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}